<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h1{
        text-align:center;
        margin: 50;
      }
      .text-glow {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;
        color: white;
        font-size: 30px;
        text-align: center;	  	
      }
    </style>
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Editing video</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
  </head>
  <body>
    <header class="header">
    <a class="list-item__link" href="{{ url_for('index')}}">HOME</a>
    </header>
    <div class="text-glow">
      <h1>SOME OF MY WORKS</h1>
    </div>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/C1nDdbQEDG8?si=j_q0qfhersKwlUkJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/H4JfXTZoO3c?si=LHpPMDhobcn97eKm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <hr>
    <br>
    <section class="" id="social">
      <footer>
        <p style="text-align: center;">I MIEI SOCIAL:</p>
        <p style="text-align: center;">
          <a class="social__link" style="display: inline;" href="https://www.instagram.com/gabriele.graphics/">Instagram</a>
          &nbsp;
          <a class="social__link" style="display: inline;" href="https://www.youtube.com/@scienceinventors">Youtube</a>
          &nbsp;
          <a class="social__link" style="display: inline;" href="mailto: scienceinventors@gmail.com">Email</a> 
        </p>
        <br>
      </footer>
    </section>
  </body>
</html>
